/**********
*-基础样式表
*-1.0
*-2017-07-26
*-xjq
**********/
/*全局基础*/
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.5);
    width: 0;
}

html {
    font-family: "微软雅黑", arial, helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

div, span, a, header {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

label {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a, a:hover, a:focus {
    text-decoration: none;
}

input, input:focus, textarea, textarea:focus {
    outline: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}

i, em {
    font-style: normal;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*雪碧图*/
.fb-sprite {
    display: block;
    background: url("../img/sprite.png") no-repeat;
    background-size: 256px 256px;
}

.fb-scale-sprite .fb-sprite {
    background-size: 600px 600px;
    transform: scale(0.64, 0.64);
    -webkit-transform: scale(0.64, 0.64);
}

.fb-sprite.scale-transform {
    background-size: 600px 600px;
    transform: scale(0.64, 0.64);
    -webkit-transform: scale(0.64, 0.64);
}

.fb-sprite.scale-transform-small {
    background-size: 600px 600px;
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
}

.fb-sprite.scale {
    background-size: 600px 600px;
    zoom: 0.64;
}

.fb-sprite.smaller {
    background-size: 600px 600px;
    zoom: 0.5;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*布局限制*/
.fb-show {
    display: block !important;
}

.fb-hide {
    display: none !important;
}

.fb-wrap {
    position: relative;
    z-index: 100;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: "Microsoft YaHei", arial, helvetica, sans-serif;
}

.fb-wrap.font {
    font-family: "Microsoft MHei", "Microsoft YaHei", Verdana, sans-serif;
}

.fb-wrap.top {
    padding-top: 51px;
}

.fb-wrap.small-top {
    padding-top: 56px;
}

.fb-wrap.big-top {
    padding-top: 92px;
}

.fb-wrap.bto {
    padding-bottom: 62px;
}

.fb-wrap.small-bto {
    padding-bottom: 66px;
}

.fb-wrap.big-bto {
    padding-bottom: 102px;
}

.fb-wrap.height {
    height: 100%;
}

.fb-wrap.white {
    background: #ffffff;
}

.fb-wrap.gray {
    background: #F5F5F5;
}

.fb-wrap.black {
    background: #000000;
}

.fb-wrap.yellow {
    background: #ffd50d;
}

.fb-height {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.fb-height.background {
    background: #fafafa;
}

.fb-height.pad-top {
    padding-top: 90px;
}

.fb-img-box {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fb-img-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*滚动样式*/
.fb-overflow-hide {
    position: relative;
    z-index: 20;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.fb-overflow {
    position: relative;
    z-index: 20;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.fb-overflow.hide {
    overflow-y: hidden !important;
}

.fb-overflow.white {
    background: #ffffff;
}

.fb-overflow.gray {
    background: #F5F5F5;
}

.fb-container {
    position: relative;
    display: block;
    width: 100%;
}

.fb-container.height {
    height: 100%;
}

.fb-container.pad-bto {
    padding-bottom: 100px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*布局位置*/
.pos-relative {
    position: relative !important;
    top: 0;
    left: 0;
    z-index: 1000;
}

.pos-fix {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1000;
}

.pos-abs-tl {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1000;
}

.pos-abs-tr {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 1000;
}

.pos-abs-bl {
    position: absolute !important;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.pos-abs-br {
    position: absolute !important;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.float-none {
    float: none !important;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
    visibility: visible;
    overflow: hidden;
    height: 0;
    zoom: 1
}

.clear {
    display: block;
    clear: both;
    visibility: visible;
    overflow: hidden;
    height: 0;
    zoom: 1
}

.disk-block {
    display: block;
}

.disk-inline {
    display: inline;
}

.disk-inline-block {
    display: inline-block;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*布局间距*/
.pad-t5 {
    padding-top: 5px !important
}

.pad-t10 {
    padding-top: 10px !important
}

.pad-t15 {
    padding-top: 15px !important
}

.pad-t20 {
    padding-top: 20px !important
}

.pad-t40 {
    padding-top: 40px !important
}


.pad-b5 {
    padding-bottom: 5px !important
}

.pad-b10 {
    padding-bottom: 10px !important
}

.pad-b15 {
    padding-bottom: 15px !important
}

.pad-b20 {
    padding-bottom: 20px !important
}

.pad-l5 {
    padding-left: 5px !important
}

.pad-l10 {
    padding-left: 10px !important
}

.pad-l15 {
    padding-left: 15px !important
}

.pad-l20 {
    padding-left: 20px !important
}

.pad-l25 {
    padding-left: 25px !important
}

.pad-r5 {
    padding-right: 5px !important
}

.pad-r10 {
    padding-right: 10px !important
}

.pad-r15 {
    padding-right: 15px !important
}

.pad-r20 {
    padding-right: 20px !important
}

.mar-t5 {
    margin-top: 5px !important
}

.mar-t10 {
    margin-top: 10px !important
}

.mar-t15 {
    margin-top: 15px !important
}

.mar-t20 {
    margin-top: 20px !important
}

.mar-b5 {
    margin-bottom: 5px !important
}

.mar-b10 {
    margin-bottom: 10px !important
}

.mar-b15 {
    margin-bottom: 15px !important
}

.mar-b20 {
    margin-bottom: 20px !important
}

.mar-l5 {
    margin-left: 5px !important
}

.mar-l10 {
    margin-left: 10px !important
}

.mar-l15 {
    margin-left: 15px !important
}

.mar-l20 {
    margin-left: 20px !important
}

.mar-r5 {
    margin-right: 5px !important
}

.mar-r10 {
    margin-right: 10px !important
}

.mar-r15 {
    margin-right: 15px !important
}

.mar-r20 {
    margin-right: 20px !important
}

.pad-all5 {
    padding: 5px !important
}

.pad-all10 {
    padding: 10px !important
}

.pad-all15 {
    padding: 15px !important
}

.pad-all20 {
    padding: 20px !important
}

.mar-all5 {
    margin: 5px !important
}

.mar-all10 {
    margin: 10px !important
}

.mar-all15 {
    margin: 15px !important
}

.mar-all20 {
    margin: 20px !important
}

.no-mar-top {
    margin-top: 0 !important;
}

.no-mar-bto {
    margin-bottom: 0 !important;
}

.no-mar-left {
    margin-left: 0 !important;
}

.no-mar-right {
    margin-right: 0 !important;
}

.no-mar-all {
    margin: 0 !important;
}

.no-pad-top {
    padding-top: 0 !important;
}

.no-pad-bto {
    padding-bottom: 0 !important;
}

.no-pad-left {
    padding-left: 0 !important;
}

.no-pad-right {
    padding-right: 0 !important;
}

.no-pad-all {
    padding: 0 !important;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*顶部导航*/
.fb-header {
    position: relative;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 51px;
    padding: 0 70px;
    border-bottom: 1px solid #dcdcdc;
    background: #ffffff;
}

.fb-header.no-pad {
    padding: 0;
}

.fb-header.no-border {
    border-bottom: 0 none;
}

.fb-header.height {
    height: 56px;
}

/*带主题的头部*/
.fb-header.background {
    background: #ffd50d;
    border-bottom: 0 none;
}

/*顶部按钮*/
.fb-header .header-left,
.fb-header .header-right {
    position: absolute;
    top: 0;
    z-index: 20;
    display: block;
    width: 70px;
    height: 100%;
}

.fb-header .header-left {
    left: 0;
}

.fb-header .header-right {
    right: 0;
}

.fb-header .header-cont {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

/*-标题不带图标-*/
.fb-header .header-title {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: #333333;
}

.fb-header .header-title span {
    line-height: 50px;
    vertical-align: middle;
}

/*-标题带图标-*/
.fb-header .header-title i {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 50px;
    background: #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: 3px;
    vertical-align: middle;
}

/*-标题部分存放图片-*/
.fb-header .header-title.has-img {
    padding: 8px 0;
}

.fb-header .header-title.has-img img {
    display: block;
    height: 100%;
    margin: auto;
}

/*顶部按钮*/
.fb-header .header-btn {
    position: absolute;
    top: 0;
    z-index: 20;
    display: block;
    height: 100%;
    text-indent: -99999px;
}

.fb-header .header-btn.text {
    text-align: left;
    text-indent: 0;
    color: #333333;
    font-size: 1.4rem;
}

/*左侧按钮*/
/*一个按钮和两个按钮*/
.fb-header .header-left .header-btn {
    width: 70px;
}

.fb-header .header-left.two .header-btn {
    width: 35px;
}

.fb-header .header-left .header-btn:nth-of-type(1) {
    left: 0;
}

.fb-header .header-left .header-btn:nth-of-type(2) {
    left: 35px;
}

.fb-header .header-left .header-btn:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
}

.fb-header .header-right .header-btn {
    width: 70px;
}

.fb-header .header-right.two .header-btn {
    width: 35px;
}

.fb-header .header-right .header-btn:nth-of-type(1) {
    right: 0;
}

.fb-header .header-right .header-btn:nth-of-type(2) {
    left: 35px;
}

.fb-header .header-right .header-btn.text {
    text-align: center;
    line-height: 48px;
}

/*公用图标按钮*/
/*返回*/
.fb-back-btn {
    position: relative;
    display: block;
    width: 35px;
    height: 100%;
    padding-left: 15px;
    line-height: 1.5;
}

.fb-header .fb-h-back,
.fb-header .fb-h-more,
.fb-header .fb-h-close {
    position: absolute;
    z-index: 20;
    display: block;
    width: 50px;
    height: 100%;
    text-indent: -99999px;
}

.fb-header.has-close .fb-h-back,
.fb-header.has-close .fb-h-close {
    width: 30px;
}

.fb-header.has-close .fb-h-close {
    top: 0;
    left: 30px;
}

.fb-header .fb-h-back {
    top: 0;
    left: 0;
}

.fb-header .fb-h-more {
    top: 0;
    right: 0;
}

.fb-header .fb-h-back:after {
    content: "";
    display: block;
    width: 12px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin: -10px 0 0 -5px;
    background: url("../img/sprite.png") no-repeat 0 -2px;
    background-size: 256px 256px;
}

.fb-header.has-close .fb-h-close:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    background: url("../img/sprite.png") no-repeat -158px 0;
    background-size: 256px 256px;
}

.fb-header .fb-h-more:after {
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin: -9px 0 0 0;
    background: url("../img/sprite.png") no-repeat -178px -22px;
    background-size: 256px 256px;
}

.fb-header .fb-h-more.add-icon:after {
    background-position: -199px -65px;
}

.fb-header .fb-more-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 50px;
    line-height: 50px;
    padding-right: 15px;
    text-align: right;
    color: #f56423;
    font-size: 1.4rem;
}

.fb-header .fb-more-text.normal {
    color: #3c3c3c;
}

.fb-header .fb-more-text.text-btn {
    color: #f56423;
    font-size: 1.1rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    right: 15px;
    top: 50%;
    width: 50px;
    height: 28px;
    line-height: 26px;
    margin-top: -14px;
    padding-right: 0;
    text-align: center;
}

.fb-header .fb-h-back.text {
    text-indent: 0;
    line-height: 40px;
    margin-left: 15px;
    color: #666666;
    font-size: 1.3rem;
}

.fb-header .fb-h-back.text:after {
    display: none;
}

.fb-head-title {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
}

.fb-head-title.img {
    height: 100%;
    padding: 8px;
}

.fb-head-title.img img {
    display: block;
    height: 100%;
    margin: auto;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*底部菜单*/
.fb-footer {
    display: block;
    width: 100%;
    height: 66px;
    background: #ffffff;
    border-top: 1px solid #e1e1e1;
}

.fb-footer .footer-menu {
    display: block;
    width: 100%;
    height: 100%;
}

.fb-footer .footer-menu li {
    text-align: center;
}

.fb-footer .footer-menu li a {
    display: block;
    position: relative;
    padding-top: 34px;
    color: #333;
    font-size: 1.6rem;
}

.fb-footer .footer-menu li i {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -20px;
}

.fb-footer .footer-menu li span {
    display: block;
    text-align: center;
}

.footer-menu i.icon1 {
    background-position: -111px -514px;
}

.footer-menu i.icon2 {
    background-position: -157px -511px;
}

.footer-menu i.icon3 {
    background-position: -203px -513px;
}

.footer-menu i.icon4 {
    background-position: -248px -513px;
}

.footer-menu a.active i.icon1 {
    background-position: -111px -561px;
}

.footer-menu a.active i.icon2 {
    background-position: -157px -558px;
}

.footer-menu a.active i.icon3 {
    background-position: -203px -559px;
}

.footer-menu a.active i.icon4 {
    background-position: -248px -560px;
}

.footer-menu a.active span {
    /*color: #49baf7*/
}

.point {
    position: absolute;
    top: 2px;
    left: 50%;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: #db4745;
    text-align: center;
    font-size: 1.0rem;
    color: #fff;
    margin-left: 10px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*弹窗*/
.fb-pop-disk {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.fb-pop-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.fb-pop-box.pad-t51 {
    padding-top: 51px;
}

/*新版-开始*/
.fb-pop-hd {
    position: relative;
    display: block;
    width: 100%;
}

.fb-pop-title {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    color: #221914;
}

.fb-pop-intro {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    color: #959595;
}

.fb-pop-close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 100;
}

/*新版-结束*/

.fb-disk-hd {
    position: relative;
    display: block;
    width: 100%;
    height: 41px;
    padding: 0 60px;
}

.fb-close-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.fb-close-btn i {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-position: -158px 0;
}

.fb-close-btn.right {
    left: auto;
    right: 0;
}

.fb-close-btn.right i {
    left: auto;
    right: 15px;
}

.fb-disk-title {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    color: #3c3c3c;
    font-weight: bold;
    text-align: center;
}

.fb-disk-bd {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*模块布局*/
.fb-module {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    background: #ffffff;
    margin-top: 10px;
}

.fb-module.background {
    background: #F5F5F5;
}

.fb-module.no-mar {
    margin-top: 0;
}

.fb-module.no-top {
    border-top: 0 none;
}

.fb-module.no-bto {
    border-bottom: 0 none;
}

.fb-module.no-border {
    border: 0 none;
}

.module-hd {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #dcdcdc;
}

.module-hd.gray {
    background: #F5F5F5;
}

.module-hd.no-border {
    border-bottom: 0 none;
}

.module-hd.no-pad {
    padding: 0;
}

.module-hd.has-icon {
    padding-left: 45px;
}

.module-hd i {
    position: absolute;
    left: 3px;
    top: 50%;
}

.module-hd i.fb-sprite {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: -20px;
}

.module-hd i.icon1 {
    background-position: -559px -3px;
}

.module-hd i.icon2 {
    background-position: -559px -48px;
}

.module-hd i.icon3 {
    background-position: -559px -95px;
}

.module-hd a.float-right {
    height: 30px;
    line-height: 28px;
    width: 130px;
    font-size: 1.4rem;
    margin-top: 10px;
}

.module-hd label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #3c3c3c;
}

.module-hd label.has-line {
    font-weight: normal;
    position: relative;
    padding-left: 8px;
}

.module-hd label.has-line:before {
    content: "";
    display: block;
    height: 14px;
    border-left: 2px solid #f56423;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
}

.module-hd label.normal {
    font-weight: normal;
    font-size: 1.5rem;
    color: #231b13;
}

.module-hd label.normal span {
    color: #999999;
}

.module-hd span {
    font-size: 1.5rem;
    color: #ef655a;
    margin-left: 10px;
}

.module-hd span.specail {
    font-size: 1.3rem;
    margin-left: 0;
}

.module-bd {
    position: relative;
    padding: 0 10px;
}

.module-bd.small-pad {
    padding: 0 10px;
}

.module-bd.no-pad {
    padding: 0;
}

.module-bd.pad-left {
    padding-left: 15px;
}

.module-bd.background {
    background: #ffffff;
}

.placeholder-box {
    display: block;
    width: 100%;
    height: 10px;
    background: #F5F5F5;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*列表布局*/
.box-list {
    display: block;
    width: 100%;
}

.box-list ul {
    margin: 0;
    padding: 0;
    *zoom: 1;
}

.box-list ul:after {
    display: block;
    content: "";
    clear: both;
    visibility: visible;
    height: 0;
}

.box-list ul li {
    position: relative;
    z-index: 10;
    display: block;
    float: left;
}

.box-list ul.row-1 li {
    width: 100%;
}

.box-list ul.row-2 li {
    width: 50%;
}

.box-list ul.row-3 li {
    width: 33.33%;
}

.box-list ul.row-4 li {
    width: 25%;
}

.box-list ul.row-5 li {
    width: 20%;
}

.box-list ul.space li {
    margin: 5px;
    padding: 5px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*垂直居中*/
.box-table {
    display: table;
    width: 100%;
}

.box-table .cell {
    position: relative;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.box-flex {
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
}

.box-flex .flex-item {
    position: relative;
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*fb-按钮*/
.fb-btn {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 32px;
    font-size: 1.4rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    color: #585858;
    text-align: center;
}

.fb-btn.height {
    height: 38px;
    line-height: 36px;
    font-size: 1.5rem;
}

.fb-btn.active {
    background: #ef655a;
    border: 1px solid #ef655a;
    color: #ffffff;
}

.fb-btn.red {
    background: #db4745;
    border: 1px solid #db4745;
    color: #ffffff;
}

.fb-btn.gray {
    background: #959599;
    border: 1px solid #959599;
    color: #ffffff;
}

.fb-btn.gray2 {
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #221914;
}

.fb-btn.pink {
    background: #ef655a;
    border: 1px solid #ef655a;
    color: #ffffff;
}

.fb-btn.yellow {
    background: #ffd50d;
    border: 1px solid #ffd50d;
    color: #2b2b2b;
}

.fb-btn.radius {
    border-radius: 17px;
    -webkit-border-radius: 17px;
}

.fb-btn.active.red {
    background: #de1817;
    border: 1px solid #de1817;
    color: #ffffff;
}

.fb-btn.line-btn {
    background: #ffffff;
    border: 1px solid #f56423;
    color: #f56423;
}

.fb-btn.link {
    background: #ffffff;
    border: 1px solid #dcdcdc;
    color: #f56423;
}

.fb-link {
    font-size: 1.4rem;
    color: #3c3c3c;
}

.fb-link.underline {
    text-decoration: underline;
}

.fb-link.active {
    color: #467eea;
}

.fb-link.block {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 1.4rem;
}

/*圆角*/
.fb-border-radius {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.fb-border-radius-3 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.fb-border-radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.fb-box-shadow {
    background: #ffffff;
    border: 1px solid #ffd50d;
    box-shadow: 0 3px 4px rgba(243, 128, 16, 0.3);
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*tab选项卡*/
.fb-head-tab {
    display: block;
    width: 100%;
    height: 41px;
    padding: 0 15px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.fb-head-tab.background {
    background: #ffd50d;
}

.fb-head-tab.fixed {
    position: absolute;
    top: 41px;
    left: 0;
    padding: 10px 15px;
}

.fb-head-tab.no-pad {
    padding: 0;
}

.fb-head-tab.no-bto {
    border-bottom: 0 none;
}

.fb-head-tab.no-top {
    border-top: 0 none;
}

.fb-head-tab.no-border {
    border: 0 none;
}

.fb-head-tab ul {
    width: 100%;
    height: 40px;
    border: 1px solid #f56423;
    border-radius: 3px;
    overflow: hidden;
}

.fb-head-tab ul li {
    display: table;
    height: 100%;
}

.fb-head-tab li a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    border-right: 1px solid #f56423;
    color: #3c3c3c;
    font-size: 1.0rem;
}

.fb-head-tab li a span,
.fb-head-tab li a i {
    display: block;
    height: 16px;
    line-height: 16px;
}

.fb-head-tab li a i {
    color: #666666;
    font-size: 0.8rem;
    height: 12px;
    line-height: 12px;
}

.fb-head-tab li:last-child a {
    border-right: 0 none;
}

.fb-head-tab li.active a {
    background: #f56423;
    color: #ffffff;
}

.fb-head-tab li.active a span,
.fb-head-tab li.active a i {
    color: #ffffff;
}

/*tab选项卡2*/
.fb-tab-bar {
    position: relative;
    display: block;
    width: 100%;
    border-top: 1px solid #eee;
}

.fb-tab-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 56px;
    background: #ffffff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.fb-tab-menu.background {
    background: #ffd50d;
    color: #2b2b2b;
}

.fb-tab-menu.no-border {
    border: 0 none;
}

.fb-tab-menu ul:after {
    content: "";
    display: block;
    clear: both;
    visibility: visible;
    height: 0;
    zoom: 0;
}

.fb-tab-menu ul.pad {
    padding: 0 50px;
}

.fb-tab-menu li {
    float: left;
    width: 33.33%;
}

.fb-tab-menu li a {
    position: relative;
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 1.6rem;
    color: #2b2b2b;
}

.fb-tab-menu li a:after {
    /*content: "";*/
    /*border-right: 1px solid #EEEEEE;*/
    /*display: block;*/
    /*height: 20px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 0;*/
    /*margin-top: -10px;*/
}

.fb-tab-menu li:last-child a:after {
    content: normal;
}

.fb-tab-menu li a.active,
.fb-tab-menu li a.current {
    color: #ef655a;
}

.fb-tab-menu li a.active:before,
.line {
    position: absolute;
    bottom: 0;
    left: 8px;
    border-bottom: 2px solid #ef655a;
    display: block;
    width: 90%;
    transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
}

.fb-tab-menu .line {
    width: 67px;
    left: 20px;
}

.fb-tab-menu li a.active:before {
    content: "";
    bottom: 0;
    left: 50%;
    margin-left: -45%;
}

.fb-tab-cont {
    position: relative;
    display: block;
    width: 100%;
    background: #ffffff;
}

.tab-content {
    display: none;
    width: 100%;
}

.tab-content.active {
    display: block;
}

.tab-item {
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 15px 20px 15px;
}

.tab-item:last-child {
    border-bottom: 0 none;
}

.tab-item-title {
    display: block;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 10px 0;
    font-weight: normal;
    color: #333333;
}

.tab-item-title label {
    display: inline;
}

.tab-item-cont {
    position: relative;
    display: block;
    padding-left: 80px;
}

.tab-item-img {
    display: table-cell;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 0;
}

.tab-item-img img {
    width: 100%;
    vertical-align: middle;
    border: solid 1px #ccc;
}

.tab-item-intro {
    float: left;
    width: 100%;
    min-height: 60px;
}

.tab-item-intro > span {
    display: block;
    width: 100%;
    height: 20px;
    color: #cccccc;
}

.tab-item-intro > span:before {
    position: relative;
    top: 1px;
    margin-right: 4px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*表单布局*/
.fb-form-box {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 15px;
}

.fb-form-box.no-padding {
    padding: 0;
}

.fb-form-box.margin {
    margin-top: 86px;
}

.fb-form-box.height {
    height: 100%;
}

.fb-form-box.background {
    background: #f5f5f5;
}

.fb-form-box h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.fb-title {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #666666;
    text-align: center;
    font-size: 13px;
}

.fb-form {
    display: block;
    width: 100%;
}

/*表单输入布局*/
.fb-form-bar {
    position: relative;
    display: block;
    width: 100%;
}

.fb-form-item {
    position: relative;
    display: block;
    width: 100%;
}

.fb-form-item.pad-r110 {
    padding-right: 110px;
}

.fb-form-item.pad-r150 {
    padding-right: 150px;
}

.code-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #49baf7;
    font-size: 1.4rem;
}

.code-btn.active {
    color: #ccc;
}

.code-img {
    width: 130px;
}

.code-img img {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #dcdcdc;
}

.fb-form-item .fb-row {
    display: block;
    width: 100%;
    *zoom: 1;
}

.fb-form-item .fb-row:after {
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
    height: 0;
    visibility: visible;
}

.fb-form-item .fb-row p {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}

.fb-form-item .fb-row p:first-child {
    padding: 0 5px 0 0;
}

.fb-form-item .fb-row p:last-child {
    padding: 0 0 0 5px;
}

.fb-form-item > label {
    position: relative;
    display: block;
    width: 100%;
    padding: 3px 5px 3px 25px;
    border-bottom: 1px solid #e1e1e1;
}

.fb-form-item > label.last {
    border-bottom: 0 none;
}

.fb-form-item > label.new-pad {
    padding: 0 5px;
    font-size: 1.3rem;
    height: 40px;
    line-height: 40px;
}

.fb-form-item > label i {
    position: absolute;
    top: 50%;
    left: 5px;
}

.fb-form-item i.tag-radius {
    margin-top: -5px;
}

.fb-form-item input,
.fb-select-text {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 1.4rem;
    border: 0 none;
    background: none;
    color: #2b2b2b;
}

.fb-select-text span.default {
    color: #b4b4b4;
}

.fb-form-item input::-webkit-input-placeholder {
    color: #b4b4b4;
}

.fb-form-btn {
    margin: 8px 0 5px 0;
    padding: 0 40px;
    text-align: center;
}

.fb-form-tips {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #959595;
    margin-bottom: 3px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*快捷菜单*/
.fb-fast-nav {
    position: relative;
    display: block;
    width: 100%;
}

.fb-fast-item {
    display: block;
    padding: 0 12px;
    background: #ffffff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 12px;
}

.fb-fast-hd {
    position: relative;
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0 5px 0 30px;
    border-bottom: 1px solid #E1E1E1;
}

.fb-fast-hd:last-child {
    border-bottom: 0 none;
}

.fb-fast-hd .title {
    display: inline-block;
    color: #959595;
}

.fb-fast-hd .cont {
    display: inline-block;
    height: 44px;
    line-height: 44px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*表单-复选框*/
.fb-checkbox {
    position: relative;
    display: block;
}

.fb-checkbox em {
    position: relative;
    top: 3px;
    right: 3px;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0;
    border: 1px solid #e5e7ea;
    background: #e5e7ea;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.fb-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: checkbox;
    opacity: 0;
}

.fb-checkbox.active em:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 18px;
    height: 19px;
    margin: -10px 0 0 -9px;
    background: url("../img/sprite.png") no-repeat -513px -379px;
    background-size: 600px 600px;
    transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*表单-单选框*/
.fb-radio {
    position: relative;
    display: block;
}

.fb-radio em {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #f1746a;
    background: #ffffff;
}

.fb-radio input[type="checkbox"],
.fb-radio input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    visibility: hidden;
}

.fb-radio.active em {
    border: 1px solid #f1746a;
    padding: 3px;
}

.fb-radio.active em:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #f1746a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*表单-下拉选择框*/
.fb-select-bar {
    position: relative;
    display: block;
    height: 26px;
    line-height: 24px;
    padding: 0 25px 0 10px;
    background: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.fb-select-bar span {
    color: #2b2b2b;
    font-size: 1.4rem;
}

.fb-select-bar span.default {
    color: #b4b4b4;
}

.fb-select-bar select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: visible;
}

.fb-select-bar .arrow-down {
    top: 11px;
    right: 7px;
    border: 5px solid;
    border-color: #959595 transparent transparent transparent;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*表单-数字加减法*/
.shop-num-bar {
    position: relative;
    display: block;
    width: 75%;
    height: 32px;
    margin: 10px auto;
    padding: 0 32px;
}

.shop-num-bar .num-input {
    display: block;
    width: 100%;
    height: 32px;
    padding: 0 5px;
    border: 1px solid #b4b4b4;
}

.shop-num-bar .num-input input {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1.4rem;
    color: #3c3c3c;
    text-align: center;
    border: 0 none;
    background: none;
}

.shop-num-bar a {
    position: absolute;
    top: 0;
    display: block;
    width: 32px;
    height: 32px;
}

.shop-num-bar a i {
    width: 24px;
    height: 22px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
}

.shop-num-bar a.num-cut {
    left: 0;
}

.shop-num-bar a.num-cut i {
    left: 0;
    background-position: -74px -45px;
}

.shop-num-bar a.num-add {
    right: 0;
}

.shop-num-bar a.num-add i {
    right: 0;
    background-position: -74px -69px;
}

.shop-num-bar.small {
    margin: auto;
    padding: 0 26px;
    height: 26px;
    width: 85px;
}

.shop-num-bar.small a {
    width: 26px;
    height: 26px;
    border: 1px solid #b4b4b4;
}

.shop-num-bar.small .num-input {
    height: 26px;
    padding: 0 3px;
}

.shop-num-bar.small .num-input input {
    height: 24px;
    line-height: 24px;
}

.shop-num-bar.small a i {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: #3c3c3c;
}

.shop-num-bar.small a.num-cut {
    border-right: 0 none;
    border-radius: 3px 0 0 3px;
}

.shop-num-bar.small a.num-add {
    border-left: 0 none;
    border-radius: 0 3px 3px 0;
}

.shop-num-bar.small a.num-cut i:after {
    content: "-";
    display: block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    text-align: center;
    color: #3c3c3c;
    font-size: 2.8rem;
}

.shop-num-bar.small a.num-add i:after {
    content: "+";
    display: block;
    width: 100%;
    height: 100%;
    line-height: 24px;
    text-align: center;
    color: #3c3c3c;
    font-size: 2.4rem;
}

.shop-num-bar.small a.none i:after {
    color: #b4b4b4;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*垂直手风琴*/
.fb-slide-bar {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.fb-slide-bar a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #3c3c3c;
}

.fb-slide-bar dt {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #dcdcdc;
    color: #3c3c3c;
    font-size: 1.3rem;
}

.fb-slide-bar dd {
    display: none;
    padding: 0 15px;
    border-bottom: 1px solid #dcdcdc;
}

.fb-slide-bar dt a i {
    transition: transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
}

.fb-slide-bar dt a.active i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.fb-slide-bar dd a {
    padding: 0 10px 0 5px;
    height: 34px;
    line-height: 34px;
}

.fb-slide-bar dd a.active {
    color: #f56423;
}

.fb-slide-bar dd a.active i {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    width: 12px;
    height: 9px;
    background-position: -178px -76px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*图标*/
.icon-back {
    position: absolute;
    top: 50%;
    left: 30px;
    margin: -21px 0 0 0;
    display: block;
    width: 23px;
    height: 42px;
    background-position: -2px -6px;
}

.icon-area {
    position: absolute;
    top: 50%;
    left: 5px;
    margin: -14px 0 0 0;
    display: block;
    width: 20px;
    height: 28px;
    background-position: -513px -188px;
}

.icon-area.bigger {
    left: 8px;
    width: 24px;
    height: 34px;
    margin-top: -17px;
    background-position: -513px -287px;
}

.icon-close {
    position: absolute;
    top: 50%;
    right: 30px;
    margin: -18px 0 0 0;
    display: block;
    width: 36px;
    height: 36px;
    background-position: -370px 0;
}

.icon-search {
    position: absolute;
    top: 50%;
    left: 5px;
    margin: -15px 0 0 0;
    display: block;
    width: 29px;
    height: 30px;
    background-position: -513px -251px;
}

.icon-telphone {
    display: block;
    width: 10px;
    height: 12px;
    background-position: -238px -77px;
}

.icon-car {
    display: block;
    width: 12px;
    height: 12px;
    background-position: -238px -62px;
}

.icon-car2 {
    position: absolute;
    top: -5px;
    left: -10px;
    display: block;
    width: 34px;
    height: 27px;
    background-position: -462px -409px;
}

.icon-r-up {
    position: absolute;
    top: 50%;
    left: -4px;
    margin-top: -19px;
    display: block;
    width: 37px;
    height: 37px;
    background-position: -558px -263px;
}

.icon-r-down {
    position: absolute;
    top: 50%;
    left: -4px;
    margin-top: -19px;
    display: block;
    width: 37px;
    height: 37px;
    background-position: -558px -219px;
}

.icon-login-user {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -26px;
    width: 36px;
    height: 52px;
    background-position: -412px -547px;
}

.icon-login-password {
    position: absolute;
    top: 50%;
    left: -1px;
    margin-top: -28px;
    width: 46px;
    height: 56px;
    background-position: -410px -485px;
}

.icon-pop-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 31px;
    background-position: -461px -367px;
    background-size: 600px 600px;
}

.icon-login-phone {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -26px;
    width: 40px;
    height: 52px;
    background-position: -346px -548px;
}

.icon-login-email {
    position: absolute;
    top: 50%;
    left: -4px;
    margin-top: -20px;
    width: 56px;
    height: 40px;
    background-position: -346px -493px;
}

.icon-pass-close {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 40px;
    height: 22px;
    margin: -11px 0 0 0;
    background-position: -558px -351px;
    background-size: 600px 600px;
    transform: scale(0.64, 0.64);
    -webkit-transform: scale(0.64, 0.64);
}

.icon-pass-open,
.icon-pass-close.active {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 40px;
    height: 22px;
    margin: -11px 0 0 0;
    background-position: -558px -320px;
    background-size: 600px 600px;
    transform: scale(0.64, 0.64);
    -webkit-transform: scale(0.64, 0.64);
}

.icon-time2 {
    position: absolute;
    top: -4px;
    left: -5px;
    width: 24px;
    height: 24px;
    background-position: -513px -220px;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*字体限制*/
.t-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.t-clamp {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.t-left {
    text-align: left !important;
}

.t-center {
    text-align: center !important;
}

.t-right {
    text-align: right !important;
}

.t-under {
    text-decoration: underline !important;
}

.t-normal {
    font-weight: normal !important;
}

.t-size8 {
    font-size: 0.8rem !important;
}

.t-size9 {
    font-size: 0.9rem !important;
}

.t-size10 {
    font-size: 1.0rem !important;
}

.t-size11 {
    font-size: 1.1rem !important;
}

.t-size12 {
    font-size: 1.2rem !important;
}

.t-size13 {
    font-size: 1.3rem !important;
}

.t-size14 {
    font-size: 1.4rem !important;
}

.t-size16 {
    font-size: 1.6rem !important;
}

.t-size18 {
    font-size: 1.8rem !important;
}

.t-size20 {
    font-size: 2.0rem !important;
}

.color-red {
    color: #ff0000 !important;
}

.color-pink {
    color: #ef655a !important;
}

.color-green {
    color: #008000 !important;
}

.color-success {
    color: #69aa46 !important
}

.color-waring {
    color: #ff892a !important
}

.color-error {
    color: #de1817 !important
}

.color-blue {
    color: #1e90ff !important;
}

.color-orange {
    color: #f56423 !important;
}

.color-gray-a0a {
    color: #a0a0a0 !important;
}

.color-gray-ccc {
    color: #cccccc !important;
}

.color-gray-3c3 {
    color: #3c3c3c !important;
}

.color-gray-2b2 {
    color: #2b2b2b !important;
}

.color-gray-666 {
    color: #666666 !important;
}

.color-gray-999 {
    color: #999999 !important;
}

.color-yellow {
    color: #ffd50d !important;
}

.color-white {
    color: #ffffff !important;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*角度*/
.arrow-top {
    position: absolute;
    top: -16px;
    right: 9px;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #dcdcdc transparent
}

.arrow-top:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -7px;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color: transparent transparent #eeeeee transparent
}

.arrow-top.white {
    border-color: transparent transparent #979797 transparent
}

.arrow-top.white:before {
    border-color: transparent transparent #ffffff transparent
}

.arrow-top.middle {
    top: 50%;
    margin-top: -13px;
}

.arrow-top.down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    margin-top: -4px;
}

.arrow-top.right {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-top: -9px;
}

.arrow-top.left {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    margin-top: -9px;
}

.arrow-down {
    position: absolute;
    top: -16px;
    right: 11px;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: #959595 transparent transparent transparent
}

.arrow-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 9px;
    height: 15px;
    margin-top: -7px;
    background-position: 0 -73px;
}

.tag {
    display: inline-block;
    padding: 1px 3px;
    margin-right: 2px;
    font-size: 1.4rem;
}

.tag.no-mar {
    margin-right: 0;
}

.tag.blue {
    background: #467eea;
    color: #ffffff;
}

.tag.red {
    background: #ef655a;
    color: #ffffff;
}

.tag-radius {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.tag-radius.green {
    background: #08a521;
}

.tag-radius.red {
    background: #ef6659;
}

.tag-radius.yellow {
    background: #ffd50d;
}

.tag-after {
    display: block;
    width: 15px;
    height: 15px;
}

.tag-after:after {
    display: block;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.tag-after.green:after {
    background: #08a521;
}

.tag-after.red:after {
    background: #ef6659;
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*css3-transform*/
/*左侧进入*/
.animated-left {
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);

    transition: transform 0.5s 0s;
    -webkit-transition: transform 0.5s 0s;
    -o-transition: transform 0.5s 0s;
    -moz-transition: transform 0.5s 0s;
}

/*右侧进入*/
.animated-right {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);

    transition: transform 0.5s 0s;
    -webkit-transition: transform 0.5s 0s;
    -o-transition: transform 0.5s 0s;
    -moz-transition: transform 0.5s 0s;
}

/*上方进入*/
.animated-top {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);

    transition: transform 0.5s 0s;
    -webkit-transition: transform 0.5s 0s;
    -o-transition: transform 0.5s 0s;
    -moz-transition: transform 0.5s 0s;
}

/*下方进入*/
.animated-bottom {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);

    transition: transform 0.5s 0s;
    -webkit-transition: transform 0.5s 0s;
    -o-transition: transform 0.5s 0s;
    -moz-transition: transform 0.5s 0s;
}

.animated-left.active,
.animated-right.active,
.animated-top.active,
.animated-bottom.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

/***************************************************************************************/
/********************--------------------分割线--------------------********************/
/***************************************************************************************/
/*j弹窗动画*/
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes j-alert-ani {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes j-alert-ani {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.j-alert-ani {
    -webkit-animation-name: j-alert-ani;
    animation-name: j-alert-ani;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px)
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5);
        -ms-transform: translateX(5px);
        transform: translateX(5px)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

@-webkit-keyframes rollIn {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes rollIn {
    0% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
